<!-- Interpolation -->

<h1 [class] = "'heading'">Interpolation Demonstration</h1>

<h1>Hello {{name}}</h1>
<!-- possiblie functions allowed in Interpolation -->
<h1>{{name + " Bhai!"}}</h1>
<h1>{{name.length}}</h1>
<h1>{{undefined}}</h1>
<h1>{{"hello" + name}}</h1>

<!-- can call functions too form Interpolation, provided they don't have any side effects -->
<!-- <h1>{{print()}}</h1> -->

<hr>

<!-- property binding -->

<h1 [class] = "'heading'" >Property Binding Demonstration</h1>

<input [value] = "name" type="text">
<input [value] = "null" type="text">
<input [value] = "undefined" type="text">
<input type="text" [value] = "name" value="Gandu">
<table [style.border] = "tableStyle">
<tr><td >1</td><td>2</td></tr>

<!-- attribute binding -->

<h1 [class] = "'heading'" >Attribute Binding Demonstration</h1>

<tr><td [attr.colspan]="1 + 1 + 5">One-Two</td></tr>
</table>

<hr>

<!-- class binding -->

<h1 [class] = "'heading'">Class Binding Demonstration</h1>

<!-- traditional way of applying class using 'class' attribute
for this the class name should just be present in the css -->
<h1 class = "success" >This is traditional way of applying css class, no angular binding used</h1>

<!-- applying class using class binding/like property binding
for this the right hand side should be component string variable or 
can be a direct class name enclosed in single quotes
 with it's value as target class -->
<h1 [class] = "danger">This is the most basic class binding</h1>
<h1 [class] = "'warn'">This is class binding directly with string in template view</h1>

<!-- we can also conditionally apply classes alternatively
 depending upon the a value using '?' operator -->
<h1 [class] = "hasError? danger : success">This is conditional class binding</h1>

<!-- applying a specific class, is the right hand value is true, 
the class will be applied. -->
<h1 [class.danger] = "hasError">This is specific class binding 1</h1>
<h1 [class.warn] = "true">This is specific class binding 2</h1>
<h1 [class.success] = "true">This is specific class binding 3</h1>

<!-- you can apply multiple classes too using class binding -->

<!-- applying classed using a string
here the 'classes = "success special"' which is a string with
 class names seperated by space -->
<h1 [class] = "classes">This is multiple class binding using String</h1>
<h1 [class] = "'success special'">This is multiple class binding using direct String in template view</h1>

<!-- applying classes using an object
here the "stylesObject" is an object with keys as class names
 and their values set as boolean -->
<h1 [class] = "stylesObject">This is multiple class binding using an object</h1>

<!-- applying classes using an array -->
<h1 [class] = "[success, special, danger]">This is multiple class binding using array</h1>

<h1 [class] = "hasError? 'danger special' : 'success special'">conditionally applying multiple classes with class binding using string</h1>

<!--class precedance/preferance -->

<!-- in this case the property/class binding is given more preferance 
    and the class attribute is ignored by angular -->
<h1 class = "success" [class] = "danger">This is a test for class precedance 1</h1>

<!-- in case the multiclass binding has the class in it, angular give priority
 for specific class binding and applies it/removes it accordingly

 for eg: the classes = "success special" string has success mentioned in it, 
 but since we specifically binded [class.success] = "false", angular gives preferance
  to the latter and doesn't apply the success class -->
<h1 [class.success] = "false" [class] = "classes">This is a test for class precedance 2</h1>


<!-- for eg: the classPrecedanceObject = {
    "success": false,
    "special": this.isSpecial
  }" object has success mapped to false in it,
 but since we specifically binded [class.success] = "true",
  angular gives preferance to the latter and applies the success class -->
<h1 [class.success] = "true" [class] = "classPrecedanceObject">This is a test for class precedance 3</h1>

<hr>

<!-- style binding -->

<h1 [class] = "'heading'" >Style Binding Demonstration</h1>

<!-- traditional way of applying inline style -->
<h2 style="color: aqua; font-size: 3rem">This is traditonal way of applying inline styles using css</h2>

<!-- applyting styles using style binding of angular -->
<!-- we can use both string and object with style binding -->

<!-- style binding using a string expression -->
<h2 [style]="styleString">This is the most basic type of style binding in angular</h2>
<h2 [style]="'color: purple; font-size: 2rem'">This is style binding in angular using string directly in the template view</h2>

<!-- style binding using a object -->
<h2 [style]="styleObject">This is style binding using an object</h2>

<!-- property specific style binding -->

<h2 [style.color]="'gold'">This is property specific style binding in angular using string directly in template view</h2>
<h2 [style.color]="nameColor">This is property specific style binding in angular using string</h2>


<!-- sometimes the unit can also be used in style binding -->
<h2 [style.fontSize.rem]="fontSize">This is property and unit specific style binding in angular using string</h2>
<!-- as 2.5 is a number, it is not mandatory to put it in single quotes, but you can use single quotes as well, it wont make any difference -->
<h2 [style.fontSize.rem]="2.5">This is property and unit specific style binding in angular using string</h2>


<!-- style precedance -->

<!-- angular follows specifity to apply the styles
the more specific style binding will be given the priority
therefore as the [style.color] is more specific that just [style] which has
multiple css props, the color given in [style.color] will be applied and the rest
props of object given in [style] are applied -->
<h2 [style.color]="nameColor" [style]="styleObject">This is a test for style precedance</h2>


<!-- Event binding -->

<h1 [class] = "'heading'" >Event Binding Demonstration</h1>

<!-- event binding in angular, rhs will be a function defined in the component class -->
<button (click) = "onClick()">Click Me!</button>

<!-- you can pass in the event as well using the "$event" that angular provides -->
<button (click) = "onClickEvent($event)">Click Me!</button>

<!-- you can also make assignements in the template itself, but this is not usually recommended -->
<button (click) = "greeting = greeting ? '' : 'Hello World!'">Click Me!</button>

{{greeting}}


Two way binding

<input [(ngModel)] = "syncData" type="text">
{{syncData}}


<!-- Template Reference variables -->

<h1 [class] = "'heading'" >Template variables Demonstration</h1>

<input #gaali type="text" >
<button (click) = "greeting = gaali.value">Gaali Sunna hai?</button>
<!-- {{gaali.value + name}} -->

{{gaali.value ? gaali.value + ' ' + name : ''}}

<input #ref1 type="text" [(ngModel)]="firstExample" />
<span *ngIf="true">Value: {{ ref1.value }}</span>


<!-- Directives -->

<h1 [class] = "'heading'" >Directives Demonstration</h1>

<!-- Attribute Directives -->

<!-- ngClass directive -->

<!-- similar to class binding -->
<h1 [ngClass] = "danger">ngClass Directive 1</h1>
<h1 [ngClass] = "'warn'">ngClass Directive 2</h1>

<h1 [ngClass] = "hasError? danger : success">ngClass with condition</h1>
<h1 [ngClass] = "'success special'">applying multiple classes with ngClass</h1>


<h1 [ngClass] = "hasError? 'danger special' : 'success special'">conditionally applying multiple classed with ngClass using string</h1>
<h1 [ngClass] = "stylesObject">applying multiple classes with ngClass using object</h1>
<h1 [ngClass] = "hasError? [danger, special] : [success, special]">conditionally applying multiple classed with ngClass using array</h1>


<!-- ngStyle directive -->

<!-- used to bind multiple style properties using an object -->
<!-- pretty much like style binding, but you cannot use string in this case, so can only apply style using an object -->
<h2 [ngStyle]="styleObject">applying styles using ngStyle with an object</h2>


<!-- ngModel directive -->

<!-- this is used for two way binding from source to view to source
it combines property binding with event binding
traditonal use of ngModel -->
<input [(ngModel)] = "syncData" type="text">
{{syncData}}

<!-- you can also use the expanded form of ngModel as follows, where in you can set the event to trigger a fucntion of your -->
<input [ngModel] = "syncData" (ngModelChange) = "setUpperCaseData($event)" type="text">
{{syncData}}


<!-- Structural Directives -->


<!-- ngIf -->

<div *ngIf = "displayGreeting; else elseBlock">
  <h1>Hello Noob</h1>
</div>

<ng-template #elseBlock>
  <h1>Greeting is hidden</h1>
</ng-template>

<div *ngIf = "displayGreeting; then thenBlock else elseBlock"><h1>howlu</h1></div>

<ng-template #thenBlock>
  <h1>Hey Pro</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Greeting is hidden</h1>
</ng-template>

<!-- ngFor -->

<div *ngFor = "let item of items; let i = index">{{item + " " + i}}</div>

<button (click) = "changeArray()">change array</button>

<div *ngFor = "let item of items; let i = index; trackBy: trackByItems">{{item + " " + i}}</div>

<button (click) = "changeArray()">change array</button>

<div *ngFor = "let item of items; odd as o; even as e; index as i">
  <p [class.danger] = "o" [class.success] = "e">{{i + " " + o + " " + e}}</p>
</div>


<p>
  I turned the corner
  <ng-container *ngIf="displayGreeting">
    and saw {{name}}. I waved
  </ng-container>
  and continued on my way.
</p>

<!-- ngFor -->

<div [ngSwitch] = 'color'>
  <div *ngSwitchCase = "'red'">You choose RED</div>
  <div *ngSwitchCase = "'blue'">You choose BLUE</div>
  <div *ngSwitchCase = "'green'">You choose GREEN</div>
  <div *ngSwitchDefault>LUL, this is default</div>
</div>



